<%= form_tag add_auto_complete_item_product_rack_path(@product_rack) do %>
<br/><br/>
<table>
  <tr>
    <th>Code</th>

     <td> 
        <%=  text_field "product_rack", "product_tokens"  %>
     </td>
      
     <td><%= submit_tag "Add item" %></td>
  </tr>
</table>



<%  end %>

 