<%= form_tag add_auto_complete_delivery_order_invoice_path(@invoice) do %>
<br/><br/>
<table>
  <tr>
    <th>Delivery Order Number</th>
     <td>
        <%=  text_field "invoice", "delivery_order_tokens"  %>
    </td>
   <td><%= submit_tag "Add DO" %></td>
  </tr>
</table>



<%  end %>

