<div style="margin-top:90%">

<hr>

<table style="width:100%">
  <tr>
    <td>Received by:</td><td></td><td align="center">Issued by:</td><td></td>
  </tr>
  <tr>
    <td style="height: 150px">---------------------------------------------- <br>Authorized Signature & Company Stamp</td>
    <td></td>
    <td style="text-align:center ;height: 150px;margin-right: 50px">------------------------<br></td>


  </tr>
</table>


</div>