<table>
  <tr>
    <th>Product</th><td><%= select_tag("item[product_id]", options_for_select(@products))  %> </td>
    <th>Supplier</th><td><%= select_tag("item[supplier_id]", options_for_select(@suppliers))  %> </td>
    <th>Quantity</th><td><%= text_field_tag("item[quantity]")  %> </td>
    <th>Unit Price</th><td><%= text_field_tag("item[unit_price]")  %> </td>
  </tr>
</table>