<script>
	$(function() {
		$( "#datepicker" ).datepicker();

	});
</script>

<%= form_for @search, :url => {:action => "item_new_page"} do |f| %>
<table class="list" style="width: auto">
    <tr>
      <th>Purchase Order Number</th>
      <th>Purchase Order date</th>
      <th></th>
   </tr>
   <tr>
      <td align="center"><%= f.text_field :purchase_order_number_like %></td>
      <td><input type="text" size="24"id="datepicker" name="search[cust_credit_note_date_equals]"/></td>
      <td><%= f.submit "Search" %></td>
   </tr>
  
  
</table>

<% end %>