
 <div id="payment_info">
   <% if @customer_payment.cheque_date.nil? %>
    <strong> Date: </strong><input type="text" size="12" id="datepicker2" name="customer_payment[cpm_date]" value="<%= Date.today.strftime("%d-%m-%Y")%>"/>
   <%else%>
     <strong> Date: </strong><input type="text" size="12" id="datepicker2" name="customer_payment[cpm_date]" value="<%= @customer_payment.cheque_date.strftime("%d-%m-%Y") %>"/>
   <%end%>
   <strong>Number: </strong><%= text_field_tag("customer_payment[cpm_number]", {},:value => @customer_payment.cheque_number, :size => 15)  %>
   <strong>Bank: </strong><%=  text_field_tag("customer_payment[bank]", {},:value => @customer_payment.bank  ,:size => 15)%>
        

<script>
	$(function() {
		$( "#datepicker2" ).datepicker({
			showOn: "button",
			buttonImage: "/images/calendar2.png",
			buttonImageOnly: true,
                        dateFormat: 'dd-mm-yy'
		});
	});
	</script>
 </div>

 