<%= form_tag add_auto_complete_item_customer_credit_note_path(@customer_credit_note) do %>
<br/><br/>
<table>
  <tr>
    <th>Code</th>

    <td>
        <%=  text_field "customer_credit_note", "product_tokens"  %>
    </td>

     <td><%= submit_tag "Add item" %></td>
  </tr>
</table>



<%  end %>

