<% title "Editing Product Location" %>


  <%= link_to 'Show', @product_location %> |
  <%= link_to 'Back', product_locations_path %> 
  <div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Product Location Update Form</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">

              <%= render 'form' %>
          </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>
<br><hr/>

            <a name="show_racks"></a>
            <%= render 'show_racks' %>
 
