 <div id='footer'>
      Powered by <a href="#" onclick="window.open(this.href);return false;">DSS</a>
      &copy; Developed by DSS SDN BHD
      | <a href="#about" rel="facebox">About</a>
    </div>
    <br />
    <div id='about' style='display:none;'>
      <h3>
        SSH
        <span class='cool'>v0.1.1</span>
      </h3>
      <p></p>
    </div>

		

