<div class="menu">
  <ul>
    <li><a href="#" >Product Maintenance</a>
      <ul>
        <li><a href="/products" >Product</a></li>
        <li><a href="/product_brands" >Product Brand</a></li>
        <li><a href="/product_departments" >Product Department</a></li>
        <li><a href="/product_categories" >Product Category</a></li>
        <li><a href="/product_models" >Product Model</a></li>
        <li><a href="/product_uoms" >Product UOM</a></li>
        <li><a href="/price_levels" >Price Level</a></li>
        <li><a href="/products/virtual_movement" >Product Virtual Movement</a></li>
        <li><a href="/products/product_movement" >Product Movement</a></li>
      </ul>
    </li>
    <li><a href="#" >Stock Maintenance</a>
      <ul>
        <li><a href="/product_locations" >Product Location</a></li>
        <li><a href="/stock_adjustments" >Stock Adjustment</a></li>
        <li><a href="/stock_transfers" >Stock Transfer</a></li>
        <li><a href="/stock_disposals" >Stock Disposal</a></li>
      </ul>
    </li>
     <li><a href="#" >AP Maintenance</a>
      <ul>
        <li><a href="/purchase_requisitions" >Purchase Requisition</a></li>
        <li><a href="/purchase_orders" >Purchase Order</a></li>
        <li><a href="/goods_receive_notes" >Goods Receive Note</a></li>
        <li><a href="/suppliers" >Supplier</a></li>
        <li><a href="/supplier_credit_notes" >Return To Supplier</a></li>
        <li><a href="/supplier_debit_notes" >Receive From Supplier</a></li>
         <li><a href="/supplier_payments" >Payment</a></li>
      </ul>
    </li>
    <li><a href="#" >AR Maintenance</a>
      <ul>
        <li><a href="/packs" >Pack</a></li>
        <li><a href="/sales_orders" >Sales Order</a></li>
        <li><a href="/packing_lists" >Picking List</a></li>
        <li><a href="/delivery_orders" >Delivery Order</a></li>
        <li><a href="/invoices" >Invoice</a></li>
        <li><a href="/customers" >Customer</a></li>
        <li><a href="/salesmen" >SalesMan</a></li>
        <li><a href="/transports" >Transport</a></li>
        <li><a href="/customer_credit_notes" >Receive From Customer</a></li>
        <li><a href="/customer_debit_notes" >Return To Customer</a></li>
        <li><a href="/customer_payments" >Payment</a></li>
      </ul>
    </li>
    <li><a href="#" >Administrator</a>
      <ul>
        <li><a href="/departments" >Department</a></li>
        <li><a href="/users" >User</a></li>
        <li><a href="/cities" >Cities</a></li>
        <li><a href="/payment_methods" >Payment Method</a></li>
      </ul>
    </li>
    <li><a href="/settings" >Setting</a></li>
 
  </ul>
</div>

